*{
    font-family: 'IBM Plex Sans', sans-serif;
}

*::first-letter{
    text-transform: capitalize;
}

body{
    background-image: linear-gradient(to right, rgb(234, 234, 243), rgb(239, 231, 240));
    padding: 0rem 7rem
}

#main-main{
    display: flex;
}

.wrapper{
    background-image: linear-gradient(rgb(192, 192, 228), rgb(209, 183, 221), rgb(192, 205, 228));
    box-shadow: 0px 0px 10px 8px rgb(141, 141, 151) ;
}

.post-wrapper, #albums-wrapper{
    padding: 2rem;
    margin: 3.5rem 4rem;
}

#wrapper{
    width: 72%;
}

#albums-wrapper{
    width: 32%;
    margin-left: 0;
    overflow: hidden;
    height: 1%
}

#albums-header{
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.post-title{
    font-weight: 900;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    margin-left: 1rem;
}

.post-content{
    font-size: 1.3rem;
}

.post-author{
    font-size: 1.2rem;
}

.comment-wrapper, .album-wrapper{
    margin: 1.5rem 2rem 0rem;
    padding: 0.1rem 1rem 1rem;
    background-color: rgb(211, 211, 233) ;
}

.comment-content{
    font-size: 0.8rem;
}